h2{
  font-weight: bold;
}

nav {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}

ion-icon {
  font-size: 30px;
}
